**/.factorypath
**/.settings
**/build
**/target
*.*~
*.aps
*.bak
*.cache
*.class
*.clover
*.db
*.ear
*.ids
*.ilk
*.iml
*.ipr
*.iws
*.jad
*.jar
*.launch
*.lib
*.log
*.ncb
*.obj
*.orig
*.pch
*.pdb
*.releaseBackup
*.sbr
*.ser
*.suo
*.swp
*.tlb
*.tlh
*.tmp
*.user
*.vspscc
*.war
*.zip
*_i.c
*_p.c
*buildNumber.properties
*iml
*jmh.json
*~
*~.nib
.DS_Store
.Trashes
._*
.apt_generated/
.buildpath
.cache
.checkstyle
.classpath
.cproject
.externalToolBuilders/**
.idea/**
.loadpath
.merge_file*
.metadata
.project
.settings/**
.recommenders/**
.svn
.unused
/bin/**
/build/**
/deploy/**
/log/**
/target/**
/tmp/**
Desktop.ini
Thumbs.db
atlassian-ide-plugin.xml
bin-debug
build
build.xml
cobertura.ser
dependency-reduced-pom.xml
local.properties
target
_maven/**
doc/**
